@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Bebas+Neue&family=Yeseva+One&display=swap');

navbar {font: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
background-color: aqua;
font-family: 'Beau Rivage', cursive;
}

.custumlink {
	background-color: red !important;
}

.navbar {
	background-color: pink;
}

.btn-primary{ 
	background-color: pink;

p {
	font-family: 'Yeseva One', cursive;
}
	
.section{
	background-color: #FFDDF0
}

.container-fluid{
	background-color: #FFDDF0
}
